/* setup */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  .container {
    display: flex;
    overflow: auto;    
    flex: none;
    overflow-x: hidden;
    position: fixed;
    right: 0;
  }
  
  .container.y {
      height: 100vh;
      width: 80vw;
      flex-flow: column nowrap;
  }
  /* scroll-snap */
  .y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
  }
  
  .container > div {
    text-align: center;
    scroll-snap-align: start;
    flex: none;    
  }
  
  .y.container > div {  
    font-size: 64px;
    height: 100vh;  
  }
  
  /* coloration */
  .container > div:nth-child(1n) {
    background-color: #fdff8f;
  }
  
  .container > div:nth-child(2n) {
    background-color: #373e3d;
  }

  .container > div:nth-child(3n) {
    background-color: #7D7ABC;
  }