html{
    overflow: hidden;
}
body, nav, ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;    
}

body{
    font-family: 'Quicksand', sans-serif;    
}

.content-page{
    display: flex;
}

.container-box{
    margin: 50px auto;
}

@media only screen and (max-width: 1200px) {
    .container-box{
        width: 800px;
        margin: 50px auto;
    }
  }

@media only screen and (max-width: 900px) {
    .container-box{
        width: 700px;
        margin: 50px auto;
    }
}

@media only screen and (max-width: 750px) {
    .container-box{
        width: 550px;
        margin: 50px auto;
    }
}

@media only screen and (max-width: 600px) {
    .container-box{
        width: 100%;
        margin: 50px auto;
    }
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #474747; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 48, 48); 
  }

  .container-section{
      padding: 1rem;
      display: flex;
      justify-content: center;
  }

  .card{
      width: 300px;            
      border-radius: 5px;
      box-shadow: 1px 4px 13px -4px rgba(0,0,0,0.75);
  }

  .column{
      flex-direction: column;
  }

  .flex{
      display: flex;
  }

  .card img{
      width: 100%;
      max-height: 350px;
  }

  .flex-start{
      justify-content: flex-start;
  }

  .content-card{
      padding: 10px;
      font-size: 16px;
      display: flex;
      background: rgb(232, 232, 232);
  }